body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('image/FONDO\ LOGIN\ Y\ REGSITRP.jpg');
    /* background: linear-gradient(to right, rgb(7, 15, 88), rgb(33, 68, 88));*/
    font-family: "lato",sans-serif;
    }
    .signupFrm{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-top: 230px;
    }
    .form{
        background-color: rgb(255, 255, 255);
        width: 400px;
        border-radius: 10px;   
        padding: 20px 40px;  /*  40px; 1.valor = medidad ede los 4 laddos   2.valores=  arriba abajo y  izquierda derecha  3.valroes= arriba, izquierda derecha, abajo 4.valroes= medidas de los 4 lados*/
        box-shadow: 10px  10px 25px;
    }
    .title{
        text-align: left;
        margin-bottom: 50px;
    }
    .inputContainer{
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 20px;
    }
    .input{
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        border: 1px solid rgb(157, 239, 242);
        font-size: 16px;
        padding: 0px 20px;
        background:none;
        outline: none;
        z-index: 1  ;
    }
    .label
    {
        position:absolute;
        top: 15px;
        left: 15px;
        padding: 0px 4px;
        background-color: lightblue;
        color: rgb(0, 0, 0); /* si queda del mism oqcol or que arriba da la ilusio nde desaparecer*/
        font-size: 16px;
        transition: 0.5s; /* no sirve */
        z-index: 0;
    }
    .placeholder{
        color: transparent;
    }
    .input:focus + .label{
        top:  -22px;
        left: 3px;
        font-size: 14px;
        font-weight: 600;
        z-index: 10;
        color: rgb(0, 0, 0);
    }
    .input:not(:placeholder-shown) + .label{
        top:  -22px;
        left: 3px;
        font-size: 14px;
        font-weight: 600;
        z-index: 10;
    }
    input:focus{
        border: 2px solid rgb(1, 5, 218); /*  borde del cuadro de texto*/
    }
    .submitBtn{
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px rgb(0, 0, 0);
        display: flex;
        padding: 8px 30px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        margin: top 30px;
        cursor:not-allowe ;  /*cursor */
    }
    .buttonGroup {
        display: flex;
        justify-content: space-between; /* puedes usar space-evenly o gap si prefieres */
        gap: 10px; /* espacio entre los botones */
      }
      
    .separator {
        font-size: 28px;
        font-weight: bold;
        color: black;
      } 
      .mensaje-error {
        color: red;
        display: none; /* Se muestra cuando hay error en las contraseñas */
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
      }